.company-card {
    position: relative; 
    display: flex;
    flex-direction: column;
    height: 230px;
    overflow: hidden;
}

.card-backdrop {
    background-image: url("/Images/Default_Backdrop.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.card-button {
    position: absolute;
    right: 15px;
    left: 15px;
    bottom: 15px;
    height: 40px;
    justify-content: center;
    font-size: 80%;
}

.card-description {
    position: absolute;
    left: 15px;
    top: 50px;
}

.card-company {
    position: absolute;
    width: 50%;
    left: 15px;
    top: 2px;
}

.card-owner {
    position: absolute;
    left: 15px;
    bottom: 140px;
}

.card-bottom {
    height: 60%;
    width: 100%;
    flex: 1;
    position: absolute;
    bottom: 0px;
    left: 0px;
}
