.banner {
    background-image: url("/Images/Default_Backdrop.png");
    background-size: cover;
    background-repeat: no-repeat;
}

#main-profile {
    position: relative;
    min-height: 15em;
    overflow: hidden;
    border-radius: 15px;
}

#profile-description {
    position: relative;
    margin-top: 25px;
    min-height: 4em;
    border-radius: 15px;
    padding: 10px;
}

#description {
    padding-left: 10px;
    padding-right: 10px;
    min-height: 2em;
}

.description {
    min-height: 3em;
}

#company-summary {
    position: absolute;
    left: 10px;
    bottom: 2px;
    max-width: 81%;
}

#company-container {
    max-height: 400px;
    overflow-y: auto;
}

#profile-email {
    position: absolute;
    top: 2px;
    right: 20px;
    text-align: right;
}

#profile-phone {
    position: absolute;
    top: 30px;
    right: 20px;
    text-align: right;
}

main {
    margin-left: 2%;
    margin-right: 2%;
}

h2 {
    text-align: left;
}

#profile-bottom {
    min-height: 45%;
    width: 100%;
    flex: 1;
    position: absolute;
    bottom: 0px;
    left: 0px;
}

#back-pfp {
    position: absolute;
    left: 35px;
    top: -75px;
    border-radius: 40%;
    width: 100px;
    height: 100px;
}

#pfp {
    position: relative;
    left: 5px;
    top: 5px;
    border-radius: 45%;
    width: 90px;
    height: 90px;
    overflow: hidden;
}

#profile-name {
    position: absolute;
    left: 135px;
    top: 0px;
}

#profile-username {
    position: absolute;
    left: 100px;
    top: 28px;
}

#profile-role {
    position: absolute;
    right: 15px;
    top: 0px;
    text-align: right;
}

#edit-desc-group,
#edit-desc-btn {
    position: absolute;
    right: 15px;
    top: 10px;
}

#edit-profile-btn {
    position: absolute;
    right: 10px;
    bottom: 7px;
}

.input-group-sm {
    transform: scale(0.8);
    transform-origin: left center;
}

#profile-email .input-group-sm,
#profile-phone .input-group-sm {
    transform: scale(0.8);
    transform-origin: right center;
}

#lastname,
#firstname {
    max-width: 150px;
}

h2 {
    color: rgb(180, 180, 180);
}

.company-card {
    position: relative; 
    display: flex;
    flex-direction: column;
    height: 230px;
    overflow: hidden;
    transition: opacity 0.2s ease, transform 0.2s ease;
}

.card-backdrop {
    background-image: url("/Images/Default_Backdrop.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.card-button {
    position: absolute;
    right: 15px;
    left: 15px;
    bottom: 15px;
    height: 40px;
    justify-content: center;
    font-size: 80%;
}

.card-description {
    position: absolute;
    left: 15px;
    top: 50px;
}

.card-company {
    position: absolute;
    width: 50%;
    left: 15px;
    top: 2px;
}

.card-owner {
    position: absolute;
    left: 15px;
    bottom: 140px;
}

.card-bottom {
    height: 60%;
    width: 100%;
    flex: 1;
    position: absolute;
    bottom: 0px;
    left: 0px;
}
